*.iws
*.pyc
*.tgz
.idea/
.pytest_cache/
.venv/
.vscode/
/*.iml
/*.ipr
/.classpath
/.coverage
/.envrc
/.history
/.idea_modules
/.project
/.settings
/.version
/RUNNING_PID
/build
/out
__pycache__
coverage.xml
dist
lib_managed
logs
requirements*.txt
requirements.txt
target
tmp
venv*
